.hero
	padding: 50px 0 57px 0
	background-color: $secondary
	&-block
		display: flex
	&-text
		flex-basis: 55%
		padding-right: 120px
		&__title
			font-size: 41px
			line-height: 55px
			margin-bottom: 35px
			+bold
		&__subtitle
			display: inline-block
			font-size: 20px
			margin-bottom: 70px
			+bold
		&__list
			margin: 0
			padding: 0
	&-list
		&__item
			display: flex
			align-items: center
			margin-bottom: 24px
			font-size: 14px
			line-height: 1.6
			&:last-child
				margin-bottom: 0
		&__image
			display: flex
			width: 40px
			height: 40px
			align-items: center
			justify-content: center
			margin-right: 30px
	&-text__text
		max-width: 235px
@media (max-width: 1200px)
	.hero
		padding: 26px 0 45px 0
		&-block
			flex-direction: column
		&-list
			margin-bottom: 44px
		&-text
			padding-right: 10px
		&-image
			margin-top: 38px
@media (max-width: 800px)
	.hero
		padding: 26px 0 45px 0
		&-text
			padding-right: 0px
			&__title
				font-size: 23px
				line-height: 1.4
				margin-bottom: 4px
			&__subtitle
				font-size: 16px
				margin-bottom: 29px
			&__text
				width: 200px;
				margin-left: -15px
				font-size: 12px
				line-height: 1.3
		&-list
			&__item
				margin-bottom: 20px
		&-image
			margin-top: 38px
	
