.offer
	background: url('../img/offer/offer-bg.jpg') no-repeat
	background-position: 673px 0;
	background-size: contain
	position: relative
	&:before
		content: ""
		width: 50%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-color: #ffffff
	&-block
		width: 50%
		padding-right: 90px
		position: relative
	&__title
		max-width: 360px
		line-height: 35px
		margin-top: 0
		margin-bottom: 20px
	&__subtitle
		max-width: 250px
		margin-bottom: 29px
	&__input
		margin-bottom: 30px
		width: 240px
		&:first-child
			margin-right: 10px
	&__button
		width: 100%
		min-height: 70px
	&__text
		display: inline-block
		margin-top: 31px
		max-width: 245px
		&:last-child
			max-width: 200px
			margin-left: 45px
	&__phone
		display: inline-block
		color: $text-color
		font-size: 15px
		text-decoration: none
		+bold
@media (max-width: 1200px)
	.offer
		background-size: cover
		&__input
			width: 100%
			margin-bottom: 10px
		&__button
			font-size: 13px
@media (max-width: 768px)
	.offer
		background: #ffffff
		&-block
			width: 100%
			padding-right: 0
