@font-face {
  font-family: 'Museo Sans Light';
  src: url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../sass/fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

body .button-up {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 49px;
  -webkit-box-shadow: 0px 0px 20px 3px #3687c4;
          box-shadow: 0px 0px 20px 3px #3687c4;
}

body .button-up:before {
  content: "";
  display: block;
  background: url("../img/button-up.png");
  margin: 15px 0 0 3px;
  width: 49px;
  height: 24px;
}

body .button-up:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 40px 3px #3687c4;
          box-shadow: 0px 0px 40px 3px #3687c4;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  margin-top: 5px;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 32px;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.invalid:nth-child(odd) {
  border: 1px solid red;
}

.invalid:nth-child(even) {
  margin: -15px 0 10px;
  padding: 5px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .container {
    width: 730px;
  }
  .invalid:nth-child(even) {
    margin: -15px 0 5px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .button-up {
    display: none !important;
  }
  .invalid:nth-child(even) {
    margin: -5px 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 274px;
  }
  .section {
    padding: 48px 0;
  }
}

.navbar {
  padding: 8px 0;
  font-size: 13px;
  line-height: 1.5;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 21px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 800px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 27px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0 57px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 35px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.6;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.hero-text__text {
  max-width: 235px;
}

@media (max-width: 1200px) {
  .hero {
    padding: 26px 0 45px 0;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-image {
    margin-top: 38px;
  }
}

@media (max-width: 800px) {
  .hero {
    padding: 26px 0 45px 0;
  }
  .hero-text {
    padding-right: 0px;
  }
  .hero-text__title {
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 4px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 29px;
  }
  .hero-text__text {
    width: 200px;
    margin-left: -15px;
    font-size: 12px;
    line-height: 1.3;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-image {
    margin-top: 38px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: right center;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 29px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__text {
  margin-top: 31px;
  max-width: 245px;
  line-height: 1.5;
}

.offer__text:last-child {
  max-width: 203px;
}

.offer__phone {
  display: inline-block;
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 40px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .offer {
    background: #ffffff;
    padding-top: 43px;
  }
  .offer__title {
    max-width: 100%;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.324px;
  }
  .offer__subtitle {
    max-width: 100%;
    font-size: 14px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    padding: 22px 21px;
  }
  .offer__button {
    font-size: 15px;
    padding: 18px 30px;
  }
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__text {
    margin-top: 21px;
  }
  .offer__text:last-child {
    margin-top: 6px;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
  padding-bottom: 96px;
}

.portfolio__title {
  display: block;
  max-width: 785px;
  margin: 10px auto 95px;
  font-size: 29px;
  line-height: 1.5;
}

.portfolio__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120px;
  margin: 0 auto;
  margin-top: 68px;
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120px;
  margin: 0 auto;
  margin-top: 68px;
}

@media (max-width: 800px) {
  .slick-slide {
    width: 246px;
    margin-right: 121px;
    margin-left: 121px;
  }
  .portfolio {
    background: #f5f5f5;
    padding-top: 29px;
    padding-bottom: 60px;
  }
  .portfolio__title {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 40px;
  }
  .portfolio__arrows {
    margin-top: 44px;
  }
  .owl-nav {
    margin-top: 44px;
  }
  #owl-example {
    max-width: 246px;
    margin: 0 auto;
  }
  .owl-carousel .owl-item {
    height: 186px;
  }
}

.price__title {
  margin: 9px auto 51px;
  max-width: 515px;
  font-size: 29px;
  line-height: 1.55;
}

.price__subtitle {
  margin-bottom: 57px;
  font-size: 20px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 38px 0 44px;
}

.card__title {
  display: block;
  font-size: 18px;
  margin: 0 0 27px;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 14px;
}

.card__link:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -6px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 774px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 274px;
  }
  .price {
    padding-top: 42px;
  }
  .price__title {
    font-size: 17px;
    line-height: 1.3;
    margin: 9px auto 23px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .price__card:last-child {
    margin-bottom: 0;
  }
  .card__text {
    padding: 28px 0 32px;
  }
  .card__title {
    font-size: 14px;
    margin: 0 0 12px;
  }
  .card__link {
    font-size: 16px;
  }
  .card__link:after {
    bottom: -5px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 27px;
}

.step__text {
  display: block;
  font-size: 14px;
  max-width: 151px;
  margin: 0 auto;
  line-height: 1.4;
}

.steps {
  padding: 39px 0 66px;
}

.steps__title {
  max-width: 652px;
  margin: 0 auto 48px;
  font-size: 29px;
  line-height: 1.55;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 69px;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    top: -25px;
    right: -25%;
  }
  .step:s-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .step:after {
    display: none;
  }
  .step__image {
    margin-bottom: 26px;
  }
  .step__text {
    font-size: 12px;
    line-height: 1.3;
  }
  .steps {
    padding: 0px 0 66px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps__title {
    margin: 0 auto 23px;
    font-size: 17px;
    line-height: 1.3;
  }
  .steps__subtitle {
    margin-bottom: 31px;
    font-size: 14px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: -4.5px;
  width: 50%;
  height: 640px;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 65px;
  padding-left: 213px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts__title {
  margin-bottom: 89px;
  font-size: 21px;
  line-height: 1.6;
  min-width: 293px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contacts-list__icon {
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 7px;
  margin-right: 23px;
}

.contacts-list__text {
  line-height: 1.6;
}

@media (max-width: 800px) {
  .map {
    width: 100%;
    top: 458px;
    max-height: 665px;
  }
  .contacts {
    padding-top: 42px;
  }
  .contacts__title {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 1.2;
    padding-left: 19px;
  }
  .contacts-list__item {
    padding-left: 15px;
  }
  .contacts-list__icon {
    margin-right: 15px;
  }
}

.brif {
  padding: 70px 0 72px;
  background-color: #ffc000;
  background-image: url("../img/brif/brif-bg.jpg");
  background-position: center right, left center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
  padding: 22px 28px;
}

.brif__button {
  height: 71px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 32px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 42px;
  font-size: 21px;
  line-height: 1.7;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 93px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
  line-height: 1.6;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  min-width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
  font-size: 17px;
}

.form__title {
  margin-bottom: 44px;
  font-size: 21px;
  line-height: 1.6;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 16px;
}

.form__description {
  display: block;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .brif {
    padding: 30px 0;
    background: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffc000), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)), to(#ffc000)), url("../img/brif/brif-bg.jpg") 100%;
    background: linear-gradient(to bottom, #ffc000 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, #ffc000 100%), url("../img/brif/brif-bg.jpg") 100%;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    padding-top: 80px;
    padding-left: 0px;
  }
  .brif__input {
    margin-bottom: 6px;
    padding: 23px 21px;
  }
  .brif__button {
    margin-top: 6px;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .interview {
    padding-right: 0;
  }
  .interview-list {
    max-width: 279px;
  }
  .interview-list__item {
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .interview-list__item:nth-child(3) {
    max-width: 229px;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .interview-list__text {
    font-size: 13px;
  }
  .interview__title {
    max-width: 211px;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 1.3;
  }
  .interview__subtitle {
    max-width: 191px;
    margin-bottom: 39px;
    font-size: 14px;
  }
  .form__title {
    margin-bottom: 22px;
    font-size: 17px;
    line-height: 1.5;
  }
  .form__subtitle {
    margin-bottom: 35px;
    font-size: 14px;
  }
  .form__description {
    max-width: 144px;
    margin: auto;
    font-size: 14px;
    line-height: 1.6;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1000px;
  width: 570px;
  background-color: #fff;
  padding: 73px 0 76px 0;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #333333;
  width: 100%;
}

.modal-form__title {
  display: block;
  max-width: 301px;
  line-height: 33px;
  font-size: 22px;
  margin: 0 auto 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.modal-form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 50px;
}

.modal-form__postscript {
  display: inline-block;
  width: 290px;
  font-size: 15px;
  line-height: 20px;
  margin: 30px auto 0;
}

.modal-form__phone {
  display: block;
  font-size: 24px;
  line-height: 37px;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.callback__button {
  width: 100%;
  margin-top: 15px;
  max-width: 368px;
  padding: 28px;
}

@media (max-width: 800px) {
  .modal-dialog {
    width: 400px;
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .modal-dialog {
    width: 280px;
    padding: 15px 0 15px 0;
  }
  .modal-form {
    padding: 10px;
  }
  .modal-form__title {
    margin-bottom: 22px;
    font-size: 17px;
    line-height: 1.5;
  }
  .modal-form__subtitle {
    margin: 0 auto;
    width: 174px;
    margin-bottom: 35px;
    font-size: 14px;
  }
  .modal-form__postscript {
    max-width: 255px;
    font-size: 14px;
  }
  .modal-form__phone {
    font-size: 17px;
  }
  .callback-form {
    margin: auto;
  }
  .callback__input {
    margin-bottom: 6px;
    margin-bottom-padding: 23px 21px;
  }
  .callback__button {
    margin-top: 6px;
    margin-bottom: 25px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */